<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>RaspicamNDI controll wepage</title>
  <link rel="stylesheet" href="css/style.css"
</head>
<body id="body" onLoad="onload()">


    <form method="POST">
          <div class="NDIformat">

              <select name="resolution" class="select_NDIformat" id="resolution" >
                  <option <%=sel_480%> value="480">640 x 480</option>
                  <option <%=sel_720%> value="720">1280 x 720</option>
                  <option <%=sel_1080%> value="1080">1920 x 1080</option>
              </select>

              <select name="framerate" class="select_NDIformat" id="framerate" >
                  <option <%=sel_25%> value="25">25</option>
                  <option <%=sel_30%> value="30">30</option>
                  <option <%=sel_50%> value="50">50</option>
                  <option <%=sel_60%> value="60">60</option>
              </select>

              <select name="formatype" class="select_NDIformat" id="formatype">
                  <option <%=sel_p%> value="p">p</option>
                  <option <%=sel_i%> value="i">i</option>
                </select>

          </div>

          <aside id=access_manager>

            <div id=multicast>
              <label class="acces_manager_container">Enable Multicast Sending
                <input type="checkbox" name="multicast_enable" id="multicast_enable" onclick="show_control_multicast()" <%=preloadOBJ.multicast_enable%>>
                <span class="checkmark"></span>
              </label>
              <label class="access_manager_text" for="multicast_TTL">TTL</label>
              <input type="text" class="access_manager_text" id="multicast_TTL" name="multicast_TTL" disabled="disabled" value=<%=preloadOBJ.multicast_TTL%>><br>
              <label class="access_manager_text" for="multicast_TTL">IP</label>
              <input type="text" class="access_manager_text" id="multicast_IP" name="multicast_IP" disabled="disabled" value=<%=preloadOBJ.multicast_IP%>><br>
              <label class="access_manager_text" for="multicast_TTL">Mask</label>
              <input type="text" class="access_manager_text" id="multicast_MASK" name="multicast_MASK" disabled="disabled" value=<%=preloadOBJ.multicast_MASK%>>
            </div><br><br><br>

            <div id=discovery>
              <label class="acces_manager_container">Enable Discovery Server
                <input type="checkbox" name="discovery_enable" id="discovery_enable" onclick="show_control_discovery()" <%=preloadOBJ.discovery_enable%>>
                <span class="checkmark"></span>
              </label>
              <label class="access_manager_text" for="discovery_server">IP</label>
              <input type="text" class="access_manager_text" id="discovery_server" name="discovery_server" disabled="disabled" value=<%=preloadOBJ.discovery_server%>>
            </div>

          </aside>

          <div id="camerasettings">

            <p id="brightness" >
              <input name="Brightness" type="range" min="0" max="100" value=<%=preloadOBJ.Brightness%> class="slider" id="sli_brightness">
              <a class="camerasettings_val"> Brightness: <span id="val_brightness"> </a>
            </p>

            <p id="sharpness">
              <input name="Sharpness" type="range" min="-100" max="100" value=<%=preloadOBJ.Sharpness%> class="slider" id="sli_sharpness">
              <a class="camerasettings_val"> Sharpness: <span id="val_sharpness"> </a>
            </p>

            <p id="contrast">
              <input name="Contrast" type="range" min="-100" max="100" value=<%=preloadOBJ.Contrast%> class="slider" id="sli_contrast">
              <a class="camerasettings_val"> Contrast: <span id="val_contrast"> </a>
            </p>

            <p id="Saturation">
              <input name="Saturation" type="range" min="-100" max="100" value=<%=preloadOBJ.Saturation%> class="slider" id="sli_Saturation">
              <a class="camerasettings_val"> Saturation: <span id="val_Saturation"> </a>
            </p>

            <p id="ShutterSpeed">
              <input name="ShutterSpeed" type="range" min="0" max="330000" value=<%=preloadOBJ.ShutterSpeed%> step="1000" class="slider" id="sli_ShutterSpeed">
              <a class="camerasettings_val"> Shutter Speed: <span id="val_ShutterSpeed"> </a>
            </p>

            <p id="ISO">
              <input name="ISO" type="range" min="100" max="800" value=<%=preloadOBJ.ISO%> step="10" class="slider" id="sli_ISO">
              <a class="camerasettings_val"> ISO: <span id="val_ISO"> </a>
            </p>

            <p id="ExposureCompensation">
              <input name="ExposureCompensation" type="range" min="-10" max="10" value=<%=preloadOBJ.ExposureCompensation%> class="slider" id="sli_ExposureCompensation">
              <a class="camerasettings_val"> Exposure Compensation: <span id="val_ExposureCompensation"> </a>
            </p>

            <div class="slider" id=box></div>


            <p id="AWB_R">
              <input name="AWB_R" type="range" min="0" max="8" value=<%=preloadOBJ.AWB_R%> class="slider" id="sli_AWB_R">
              <a class="camerasettings_val"> White Balance Red: <span id="val_AWB_R"> </a>
            </p>

            <p id="AWB_G">
              <input name="AWB_G" type="range" min="0" max="8" value=<%=preloadOBJ.AWB_G%> class="slider" id="sli_AWB_G">
              <a class="camerasettings_val"> White Balance Green: <span id="val_AWB_G"> </a>
            </p>

            <p id="AWB_B">
              <input name="AWB_B" type="range" min="0" max="8" value=<%=preloadOBJ.AWB_B%> class="slider" id="sli_AWB_B">
              <a class="camerasettings_val"> White Balance Blue: <span id="val_AWB_B"> </a>
              </p>

          </div>



      <input id="production_button" type="submit" value="<%=liveprod_button%>">
    </form>


    <div>
        <button id="show_control" onclick="show_control_function()"> SHOW CAMERA CONTROL </button>
    </div>

    <div id="format"></div>

    <div id="tally" style="display: <%=tally_visibility%> " ></div>


    <div id="raspicam_banner">
      <a>RaspicamNDI is developed by <br><b>Cerutti Davide</b></a><br><br><br>
      <a>RaspicamNDI is powered by</a><br>
      <a href="https://www.ndi.tv/?gclid=Cj0KCQjw_dWGBhDAARIsAMcYuJxZJdMQd8a_CF0jB-YxxibLMVQEp9rypksKMEP--ADRlx73ipvL-c4aAlzCEALw_wcB" id="NDI_5">NDI<sup>®</sup> 5</a>

    </div>


<script src="js/script.js"></script>

</body>
</html>
